{{- $params := .Scratch.Get "params" -}}
{{- $cdn := .Scratch.Get "cdn" | default dict -}}
{{- $fingerprint := .Scratch.Get "fingerprint" -}}
{{- $config := (.Scratch.Get "this").config -}}

{{- /* Search */ -}}
{{- if .Site.Params.search | and .Site.Params.search.enable -}}
    {{- $search := .Site.Params.search -}}
    {{- $source := $cdn.autocompleteJS | default "lib/autocomplete/autocomplete.min.js" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
    {{- $config = dict "maxResultLength" $search.maxResultLength "snippetLength" $search.snippetLength "highlightTag" $search.highlightTag "noResultsFound" (T "noResultsFound") | dict "search" | merge $config -}}
    {{- if eq $search.type "lunr" -}}
        {{- with .Site.Home.OutputFormats.Get "json" -}}
            {{- $config = dict "type" "lunr" "lunrIndexURL" .RelPermalink | dict "search" | merge $config -}}
        {{- end -}}
        {{- $source := $cdn.lunrJS | default "lib/lunr/lunr.min.js" -}}
        {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
        {{- if T "lunrLanguageLib" -}}
            {{- $config = T "lunrLanguageCode" | dict "lunrLanguageCode" | dict "search" | merge $config -}}
            {{- with T "lunrSegmentitLib" -}}
                {{- $config = dict "lunrSegmentitURL" (resources.Get .).RelPermalink | dict "search" | merge $config -}}
            {{- end -}}
            {{- dict "Source" "lib/lunr/lunr.stemmer.support.js" "Minify" true "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
            {{- dict "Source" (T "lunrLanguageLib") "Minify" true "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
        {{- end -}}
    {{- else if eq $search.type "algolia" -}}
        {{- $source := $cdn.algoliasearchJS | default "lib/algoliasearch/algoliasearch-lite.umd.min.js" -}}
        {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
        {{- $config = dict "type" "algolia" "algoliaIndex" $search.algolia.index "algoliaAppID" $search.algolia.appID "algoliaSearchKey" $search.algolia.searchKey | dict "search" | merge $config -}}
    {{- end -}}
{{- end -}}

{{- /* lazysizes */ -}}
{{- $source := $cdn.lazysizesJS | default "lib/lazysizes/lazysizes.min.js" -}}
{{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}

{{- /* twemoji */ -}}
{{- if $params.twemoji -}}
    {{- $source := $cdn.twemojiJS | default "lib/twemoji/twemoji.min.js" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
    {{- $config = dict "twemoji" true | merge $config -}}
{{- end -}}

{{- /* lightgallery.js */ -}}
{{- if $params.lightgallery -}}
    {{- $source := $cdn.lightgalleryCSS | default "lib/lightgallery/lightgallery.min.css" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/style.html" -}}
    {{- $source := $cdn.lightgalleryJS | default "lib/lightgallery/lightgallery.min.js" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
    {{- $source := $cdn.lightgalleryThumbnailJS | default "lib/lightgallery/lg-thumbnail.min.js" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
    {{- $source := $cdn.lightgalleryZoomJS | default "lib/lightgallery/lg-zoom.min.js" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
    {{- $config = dict "selector" ".lightgallery" "speed" 400 "hideBarsDelay" 2000 "thumbnail" true "exThumbImage" "data-thumbnail" "thumbWidth" 80 "thumbContHeight" 80 "actualSize" false | dict "lightGallery" | merge $config -}}
{{- end -}}

{{- $code := $params.code | default dict -}}
{{- $config = cond (ne $code.maxShownLines nil) $code.maxShownLines 10 | dict "maxShownLines" | dict "code" | merge $config -}}

{{- /* clipboard.js */ -}}
{{- if ne $code.copy false -}}
    {{- $source := $cdn.clipboardJS | default "lib/clipboard/clipboard.min.js" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
    {{- $config = T "copyToClipboard" | dict "copyTitle" | dict "code" | merge $config -}}
{{- end -}}

{{- /* Sharer.js */ -}}
{{- if $params.share.enable -}}
    {{- $source := $cdn.sharerJS | default "lib/sharer/sharer.min.js" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
{{- end -}}

{{- /* TypeIt */ -}}
{{- with (.Scratch.Get "this").typeitMap -}}
    {{- $typeit := $.Site.Params.typeit -}}
    {{- $source := $cdn.typeitJS | default "lib/typeit/typeit.min.js" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" $.Scratch "Data" | partial "scratch/script.html" -}}
    {{- $config = dict "speed" $typeit.speed "cursorSpeed" $typeit.cursorSpeed "cursorChar" $typeit.cursorChar "duration" $typeit.duration "data" . | dict "typeit" | merge $config -}}
{{- end -}}

{{- /* KaTeX */ -}}
{{- $math := $params.math -}}
{{- if eq $math true -}}
    {{- $math = .Site.Params.page.math | default dict -}}
{{- else if eq $math false -}}
    {{- $math = dict "enable" false -}}
{{- end -}}
{{- if $math.enable -}}
    {{- $source := $cdn.katexCSS | default "lib/katex/katex.min.css" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/style.html" -}}
    {{- $source := $cdn.katexJS | default "lib/katex/katex.min.js" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
    {{- $source := $cdn.katexAutoRenderJS | default "lib/katex/auto-render.min.js" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
    {{- if $math.copyTex -}}
        {{- $source := $cdn.katexCopyTexCSS | default "lib/katex/copy-tex.min.css" -}}
        {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/style.html" -}}
        {{- $source := $cdn.katexCopyTexJS | default "lib/katex/copy-tex.min.js" -}}
        {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
    {{- end -}}
    {{- if $math.mhchem -}}
        {{- $source := $cdn.katexMhchemJS | default "lib/katex/mhchem.min.js" -}}
        {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
    {{- end -}}
    {{- $delimiters := slice (dict "left" "$$" "right" "$$" "display" true) (dict "left" "\\[" "right" "\\]" "display" true) -}}
    {{- if and $math.blockLeftDelimiter $math.blockRightDelimiter -}}
        {{- $delimiters = $delimiters | append (dict "left" $math.blockLeftDelimiter "right" $math.blockRightDelimiter "display" true) -}}
    {{- end -}}
    {{- $delimiters = $delimiters | append (dict "left" "$" "right" "$" "display" false) (dict "left" "\\(" "right" "\\)" "display" false) -}}
    {{- if and $math.inlineLeftDelimiter $math.inlineRightDelimiter -}}
        {{- $delimiters = $delimiters | append (dict "left" $math.inlineRightDelimiter "right" $math.inlineRightDelimiter "display" false) -}}
    {{- end -}}
    {{- $config = dict "strict" false "delimiters" $delimiters | dict "math" | merge $config -}}
{{- end -}}

{{- /* TikzJax */ -}}
{{- $params := .Scratch.Get "params" -}}
{{- $cdn := .Scratch.Get "cdn" | default dict -}}
{{- $fingerprint := .Scratch.Get "fingerprint" -}}
{{- $config := (.Scratch.Get "this").config -}}        
{{- $tikz := $params.tikz -}}
{{- if eq $tikz true -}}
    {{- $tikz = .Site.Params.page.tikz | default dict -}}
{{- else if eq $tikz false -}}
    {{- $tikz = dict "enable" false -}}
{{- end -}}
{{- if $tikz.enable -}}
    {{- $source := "lib/tikzjax/font.css" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/style.html" -}}
    {{- $source := "lib/tikzjax/tikzjax.js" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
    {{- $_ := (resources.Get "7620f557a41f2bf40820e76ba1fd4d89a484859d.gz").RelPermalink -}}
    {{- $_ := (resources.Get "ef253ef29e2f057334f77ead7f06ed8f22607d38.wasm").RelPermalink -}}{{- $_ := (resources.Get "/lib/tikzjax/font/cmb10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmbsy10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmbsy6.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmbsy7.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmbsy8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmbsy9.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmbx10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmbx12.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmbx5.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmbx6.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmbx7.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmbx8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmbx9.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmbxsl10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmbxti10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmcsc10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmcsc8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmcsc9.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmdunh10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmex10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmex7.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmex8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmex9.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmff10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmfi10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmfib8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cminch.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmitt10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmmi10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmmi12.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmmi5.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmmi6.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmmi7.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmmi8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmmi9.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmmib10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmmib6.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmmib7.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmmib8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmmib9.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmr10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmr12.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmr17.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmr5.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmr6.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmr7.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmr8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmr9.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmsl10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmsl12.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmsl8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmsl9.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmsltt10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmss10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmss12.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmss17.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmss8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmss9.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmssbx10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmssdc10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmssi10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmssi12.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmssi17.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmssi8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmssi9.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmssq8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmssqi8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmsy10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmsy5.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmsy6.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmsy7.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmsy8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmsy9.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmtcsc10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmtex10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmtex8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmtex9.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmti10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmti12.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmti7.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmti8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmti9.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmtt10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmtt12.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmtt8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmtt9.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmu10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/cmvtt10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/euex10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/euex7.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/euex8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/euex9.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eufb10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eufb5.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eufb6.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eufb7.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eufb8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eufb9.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eufm10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eufm5.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eufm6.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eufm7.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eufm8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eufm9.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eurb10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eurb5.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eurb6.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eurb7.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eurb8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eurb9.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eurm10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eurm5.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eurm6.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eurm7.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eurm8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eurm9.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eusb10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eusb5.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eusb6.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eusb7.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eusb8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eusb9.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eusm10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eusm5.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eusm6.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eusm7.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eusm8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/eusm9.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/msam10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/msam5.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/msam6.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/msam7.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/msam8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/msam9.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/msbm10.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/msbm5.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/msbm6.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/msbm7.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/msbm8.ttf").RelPermalink -}}
    {{- $_ := (resources.Get "/lib/tikzjax/font/msbm9.ttf").RelPermalink -}}    
{{- end -}}

{{- /* mermaid */ -}}
{{- if (.Scratch.Get "this").mermaid -}}
    {{- $source := $cdn.mermaidJS | default "lib/mermaid/mermaid.min.js" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
    {{- $options := dict "targetPath" "lib/mermaid/mermaid.min.css" "enableSourceMap" true -}}
    {{- dict "Source" "lib/mermaid/mermaid.scss" "ToCSS" $options "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/style.html" -}}
{{- end -}}

{{- /* ECharts */ -}}
{{- if (.Scratch.Get "this").echarts -}}
    {{- $source := $cdn.echartsJS | default "lib/echarts/echarts.min.js" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
    {{- $source := $cdn.echartsMacaronsJS | default "lib/echarts/macarons.min.js" -}}
    {{- dict "Source" $source "Minify" true "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
{{- end -}}

{{- /* Mapbox GL */ -}}
{{- if (.Scratch.Get "this").mapbox -}}
    {{- $source := $cdn.mapboxGLCSS | default "lib/mapbox-gl/mapbox-gl.min.css" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/style.html" -}}
    {{- $source := $cdn.mapboxGLJS | default "lib/mapbox-gl/mapbox-gl.min.js" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
    {{- dict "Source" "lib/mapbox-gl/mapbox-gl-language.js" "Minify" true "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
    {{- $config = dict "accessToken" $params.mapbox.accessToken "RTLTextPlugin" "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-rtl-text/v0.2.0/mapbox-gl-rtl-text.js" | dict "mapbox" | merge $config -}}
{{- end -}}

{{- /* Music */ -}}
{{- if (.Scratch.Get "this").music -}}
    {{- /* APlayer */ -}}
    {{- $source := $cdn.aplayerCSS | default "lib/aplayer/APlayer.min.css" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/style.html" -}}
    {{- $options := dict "targetPath" "lib/aplayer/dark.min.css" "enableSourceMap" true -}}
    {{- dict "Source" "lib/aplayer/dark.scss" "ToCSS" $options "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/style.html" -}}
    {{- $source := $cdn.aplayerJS | default "lib/aplayer/APlayer.min.js" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}

    {{- /* MetingJS */ -}}
    {{- $source := $cdn.metingJS | default "lib/meting/Meting.min.js" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
{{- end -}}

{{- /* Cookie Consent */ -}}
{{- if .Site.Params.cookieconsent | and .Site.Params.cookieconsent.enable -}}
    {{- $source := $cdn.cookieconsentCSS | default "lib/cookieconsent/cookieconsent.min.css" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/style.html" -}}
    {{- $source := $cdn.cookieconsentJS | default "lib/cookieconsent/cookieconsent.min.js" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
    {{- $cookieconsentConfig := dict "popup" (dict "background" "#1aa3ff") "button" (dict "background" "#f0f0f0") | dict "theme" "edgeless" "palette" -}}
    {{- $cookieconsentConfig = .Site.Params.cookieconsent | merge $cookieconsentConfig -}}
    {{- $cookieconsentConfig = dict "message" ($cookieconsentConfig.content.message | default (T "cookieconsentMessage")) "dismiss" ($cookieconsentConfig.content.dismiss | default (T "cookieconsentDismiss")) "link" ($cookieconsentConfig.content.link | default (T "cookieconsentLink")) | dict "content" | merge $cookieconsentConfig -}}
    {{- $config = $cookieconsentConfig | dict "cookieconsent" | merge $config -}}
{{- end -}}

{{- range $params.library.css -}}
    {{- dict "Source" . "Fingerprint" $fingerprint | dict "Scratch" $.Scratch "Data" | partial "scratch/style.html" -}}
{{- end -}}

{{- range $params.library.js -}}
    {{- dict "Source" . "Fingerprint" $fingerprint | dict "Scratch" $.Scratch "Data" | partial "scratch/script.html" -}}
{{- end -}}

{{- with (.Scratch.Get "this").styleArr -}}
    {{- $content := delimit . "" -}}
    {{- $path := substr (md5 $content) 0 6 | printf "css/%v" -}}
    {{- $options := printf "%v.min.css" $path | dict "targetPath" -}}
    {{- dict "Content" $content "Path" (printf "%v.scss" $path) "ToCSS" $options | dict "Scratch" $.Scratch "Data" | partial "scratch/style.html" -}}
{{- end -}}

{{- /* Config script */ -}}
{{- $config | jsonify | printf "window.config=%s;" | dict "Content" | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}

{{- /* Theme script */ -}}
{{- dict "Source" "js/theme.min.js" "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
{{- $_ := (resources.Get "js/theme.min.js.map").RelPermalink -}}

{{- with (.Scratch.Get "this").scriptArr -}}
    {{- delimit . "\n" | dict "Content" | dict "Scratch" $.Scratch "Data" | partial "scratch/script.html" -}}
{{- end -}}

{{- range (.Scratch.Get "this").style -}}
    {{- partial "plugin/style.html" . -}}
{{- end -}}

{{- range (.Scratch.Get "this").script -}}
    {{- partial "plugin/script.html" . -}}
{{- end -}}

{{- partial "plugin/analytics.html" . -}}
